SLACK_BOT_TOKEN=xoxb-token
SLACK_APP_TOKEN=xapp-token

HUDDLE_CHANNEL_ID=C0numbers
LOG_CHANNEL_ID=C0numbers

SW_API_URL=https://review.hackclub.com/api/admin/ship-certs-log
SW_API_KEY=sw_live_00

POLL_INTERVAL=60
LEADERBOARD_INTERVAL=600
LOG_LEVEL=DEBUG

